extends layout 

block content 
    link(rel="stylesheet", href="/css/style.css")

    h1 write 
    form#post-form(action="../api/v1/posts", method="post") 
        label(for="title") title
        input(type="text", id="title", name="title", placeholder="제목을 입력하세요...") 
        hr
        label(for="userId") author
        input(type="text", id="userId", name="userId", value=user ? user._id : '')
        hr
        label(for="content") content
        textarea#write-text(type="text",rows="30", cols="40", name="content", placeholder="......") 
        hr
        button(type="submit") submit

